html {
    --primaryBackgroundColor: white;
    --primaryTextColor: black;
    background: white;
}

.site-header {
    background-color: #0073bec4;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: .75rem;
    margin-bottom: 1.5rem;
}

.site-header a {
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: ease-in-out color .15s;
}

.site-header .dropdown-item {
    color: #212529;
}

.site-header .dropdown-item:hover {
    color: #2d3339;
}

.site-header a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    text-decoration: none;
}

.navbar-brand .logo {
    max-width: 150px;
}

.app-card {
    transition: .3s;
    padding: 10px 10px;
}

.app-card > div > div {
    padding: 10px 0px;
    box-shadow: 0px 0px 4px #00000040;
}

.app-card:hover, .app-card:focus {
    transform: scale(1.03);
    color: white;
    text-decoration: none;
}

/* GRADIENTS */

.bg-gradient-lightblue {
    background: #1f1498!important;
    background: linear-gradient(45deg,#5aa5ff 0%,#89cbff 100%)!important;
    border-color: #3e7fcc!important;
}

.bg-gradient-blue {
    background: #1f1498!important;
    background: linear-gradient(45deg,#0bc0e4 0%,#16dcf1 100%)!important;
    border-color: #3e7fcc!important;
}

.bg-gradient-danger {
    background: #d93737!important;
    background: linear-gradient(45deg,#e55353 0%,#d93737 100%)!important;
    border-color: #d93737!important;
}

.bg-gradient-warning {
    background: #f6960b!important;
    background: linear-gradient(45deg,#f9b115 0%,#f6960b 100%)!important;
    border-color: #f6960b!important;
}

.main{
    background: var(--primaryBackgroundColor);
}

body {
    color: var(--primaryTextColor);
}